[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "aliyun"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
lxml = "*"
click = "*"

[dev-packages]

pyinstaller = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.10"
